file-server/node_modules/
http-server-1/node_modules/
http-server-2/node_modules/
MiddleWares/node_modules/
Authenticate-server/node_modules/
Server-with-database/node_modules/
Paytm-Clone/Backend/node_modules/
Paytm-Clone/frontend/node_modules/
Course-Selling-Course/node_modules/
custom-hooks/node_modules/
Typescript/dist/
Postgress/node_modules/
Postgress/dist/